$background-color: #000000;
$block-color: transparent;
$block-border: lighten($background-color, 10%);
$block-header: #8EF9F3;
$block-link: #ffffff;
$block-hover: #8EF9F3;

$base-font-family: "Operator Mono";
$base-font-size: 16px;
$base-font-weight: 100;
$base-line-height: 1.6;
$base-max-width: 1000px;

.weather {
  display: table;
  margin: 0 auto;
  padding-bottom: 70px;
  font-weight: $base-font-weight;
  color: $block-link;
  .type {
    color: $block-hover;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $block-link;

  &:hover {
    color: $block-hover;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $base-max-width;
}

.block {
  flex: 1;
  margin: 5px;
  padding: 20px 30px;
  background-color: $block-color;
  border: 1px solid $block-border;
  min-width: 250px;
}

.header {
  color: $block-header;
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}
